@model IEnumerable<Sistema_de_asistencia.Models.Estudiante>

@{
    ViewData["Title"] = "Listado de Estudiantes";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>

    .fixed-width-btn {
        width: 50px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 150px;
    }



    .table {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }

        .table th {
            /* background-color: #343a40;
                color: #ffffff; */
            text-align: center;
            font-weight: 600;
            vertical-align: middle;
            font-size: 1rem;
        }

        .table td {
            text-align: center;
            vertical-align: middle;
            font-size: 0.95rem;
            color: #495057;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }


    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                        border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

</style>

<div class="container mt-2">
    <a asp-action="Configuracion" asp-controller="Main" class="btn btn-secondary">
        <i class="fas fa-arrow-left text-white"></i> Volver
    </a>
</div>


<div class="container">
    <div class="card mt-3">
        <div class="card-body">
                
            <div class="mt-1">
                <p class="text-center title-menu">Estudiantes</p>
                <hr />

                <div>
                    <p>
                        <a asp-action="Create" class="btn btn-primary">
                            <i class="fas fa-plus text-white"></i> Crear Estudiante
                        </a>
                    </p>
                </div>


                <h5>Busqueda</h5>
            </div>

            <form method="get" action="@Url.Action("Index", "SolicitudUsuarios")" class="form-inline">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="searchCriteria" class="mr-2">Criterio de búsqueda</label>
                        <select class="form-control" id="searchCriteria" name="searchCriteria">
                            <option value="">Seleccionar Criterio</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="searchTerm" class="mr-2">Término de búsqueda</label>
                        <input type="text" class="form-control" id="searchTerm" name="searchTerm">
                    </div>
                    <div class="col-md-2">
                        <label for="fecha" class="mr-2">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha">
                    </div>
                    <div class="col-md-1 text-center d-flex align-items-end justify-content-center">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col-md-1 text-center d-flex align-items-end justify-content-center">
                        <a asp-action="ExportarExcel" class="btn btn-success">Exportar</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Usuario</th>
                            <th>Curso</th>
                            <th>Grado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.IdNavigation.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Curso)</td>
                                <td>@Html.DisplayFor(modelItem => item.Grado)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Editar">
                                        <i class="fas fa-edit text-white"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary" title="Detalles">
                                        <i class="fas fa-info-circle text-white"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Eliminar" 
                                       onclick="return confirm('¿Seguro que quieres eliminar este registro?');">
                                        <i class="fas fa-trash-alt text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
